body {
  background-color: #f0f0c9;
	font-family: 'Bakbak One';font-size: 22px; color: #c1cdaf;

}
h1,h2,h3 {
  font-family: 'Bakbak One' ;font-size: 22px; color:#124e78;
}
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #888;
  background-color: #84B59F;
}
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #A3C9A8;
}
