BODY {
    background: #7E9181;
    padding: 50px;
}

h1 {
    color: #B20D30;
    font-family: georgia;
}

h2, h3 {
    color: #6B2737;
    font-family: georgia;
}

#introduction h2 {
    font-style: italic;
    color: black;
}

#introduction p {
    color: #ced7ca;
    font-family: garamond;
    font-size: 120%;
}

ol {
    color: #ced7ca;
    font-family: garamond;
    font-size: 20px;
}

#mypic {
    width: 200px;
}

.navigation {
    display: flex;
    gap: 20px;
}