BODY {
    background: #7E9181;
    padding: 50px;
}

h1, h2, h3 {
    font-family: "Momo Trust Display", sans-serif;
}
h1 {
    color: #FED766;
}
h2 {
    color: #6B2737;
}
.navigation h3 {

    color: #ced7ca;
}

#introduction p {
    color: #ced7ca;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 120%;
    background-color: #685044;
    padding: 15px;
}

li {
    color: #ced7ca;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 15px;
    
}

#mypic {
    width: 200px;
}

.navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}
#first, #second {
    align-self: flex-start;
}
