/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #DDD8C4;
  }
body {
    font-family: 'Bakbak One';font-size: 22px; color: #3c5233;
    background-color: #FEFAE0;
}
.minor-section p {
  font-size: 20px;
  color: #8d7d6f;
}
.screenshots {
  width: 500px;
  height: 400px;
}