.test-div {
background: #FCDC4D;
padding: 20px;
margin: 20px;
color: #823329;
}
.test-div h2 {
    color: #3F4B3B
}
h2 {
    color: #9A031E;
    text-decoration: underline;
}
.test-div:hover {
    background-color: #BE95C4;
}
button.special {
    background: #BC412B;
    color: white
}

#rare {
    display: flex;
    flex-wrap: wrap;
}

#split {
    display: flex;
    flex-direction: column;
}

#rare div {
    width: 400px;
}