h1 {
    background-color: #2e7552;
    width: 250px;
    height: 125px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    background-color: #09898a;
    padding: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

p {
    background-color: #484e79;
    padding: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    position: absolute;
    top: 225px;
    right: 10px;
}

.images {
    height: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}
#rene {
    height: 300px;
    width: 200px;
    align-self: flex-end;
}

#slug1 {
    height: 100px;
    width: 150px;
}

#slug2 {
    height: 100px;
    width: 150px;
}