h1 {
    background-color: #2e7552;
    width: 250px;
    height: 125px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    background-color: #09898a;
    padding: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

#output {
    background-color: #484e79;
    padding: 20px;
    color: white;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    position: absolute;
    width: 250px;
    margin: 20px
}

#slug {
    background-color: #093d4e;
    padding: 20px;
    font-size: 13px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    width: 350px;
    margin: 20px;
}

.text {
    width: 1100px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    gap: 50px;
}

#intro {
    background-color: #484e79;
    padding: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 10px;
}

.images {
    position: relative;
    height: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}
#rene {
    height: 300px;
    width: 200px;
    align-self: flex-end;
    position: relative;
    z-index: 1;
}

#slug1 {
    height: 100px;
    width: 150px;
    position: relative;
    z-index: 1;
}

#slug2 {
    height: 100px;
    width: 150px;
    position: relative;
    z-index: 1;
}
#smoke {
    height: 250px;
    width: 200px;
    align-self: flex-end;
    position: absolute;
    top: 200px;
    left: 700px;
    opacity: 0.9;
    z-index: 10;
}
#button {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #2e7552;
    height: 60px;
    width: 150px;
    position: relative;
    top: 500px;  
}
#help {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #503a2c;
    height: 60px;
    width: 150px;
    position: relative;  
    top: 40px;
}
