body {
    font-family: "Josefin Sans", sans-serif;
}

#title {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

h1 {
    background-color: #2e7552;
    width: 250px;
    height: auto;
    color: white;
    text-align: left;
    padding: 15px;
}

h2 {
    background-color: #09898a;
    padding: 10px;
    color: white;
    text-align: right;
}

.text {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

#intro {
    background-color: #484e79;
    padding: 20px;
    color: white;
    text-align: left;
    width: 200px;
}

#output {
    background-color: #093d4e;
    padding: 20px;
    color: white;
    font-size: 13px;
    width: 200px;
    text-align: center;
}

#slug {
    background-color: #484e79;
    padding: 20px;
    font-size: 13px;
    color: white;
    text-align: right;
    width: 350px;
}


.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}

#rene {
    height: 300px;
    width: 200px;
    align-self: flex-end;
}

#slug1 {
    height: 100px;
    width: 150px;
}

#slug2 {
    height: 100px;
    width: 150px;
}
#button {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: #2e7552;
    height: 60px;
    width: 150px;
    position: relative;
    top: 500px;  
}

